body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
  height: 33.333%;
}

#map {
  width: 100%;
  height: 100%;
}

.CodeMirror {
  height: 100%;
  width: 100%;
}
